<ion-header>
  <ion-navbar>
    <button ion-button menuToggle>
      <ion-icon name="menu"></ion-icon>
    </button>
    <ion-title>Atualizar Produto</ion-title>
  </ion-navbar>
</ion-header>

<ion-content padding>

  <h2>Dados do produto</h2>

  <ion-card>
    <ion-avatar>
      <img class="circle" src="{{product?.imageUrl}}">
    </ion-avatar>

    <ion-card>
      <p text-center>Atualizar imagem</p>

      <ion-item *ngIf="picture">
        <img [src]="picture">
        <button ion-button color="secondary" block outline (click)="sendPicture()" >Enviar imagem</button> 
        <button ion-button block outline (click)="cancel()" >Cancelar</button> 
      </ion-item>
      <ion-item>
        <button ion-button block (click)="getCameraPicture()" [disabled]="cameraOn">Camera</button>
        <button ion-button block (click)="getCameraRoll()" [disabled]="cameraRollOn">Galeria de fotos</button> 
      </ion-item>
    </ion-card>
  </ion-card>

  <form [formGroup]="formGroup" (ngSubmit)="updateProduct(); $event.preventDefault()">

    <ion-card>
      <ion-item>
        <ion-label stacked>Nome</ion-label>
        <ion-input formControlName="name" type="text"></ion-input>
      </ion-item>
      <p class="danger" *ngIf="formGroup.controls.name.dirty && formGroup.controls.name.errors"  margin-left>Valor inválido</p>

      <ion-item>
        <ion-label stacked>Preço (R$)</ion-label>
        <ion-input formControlName="price" type="text"></ion-input>
      </ion-item>
      <p class="danger" *ngIf="formGroup.controls.price.dirty && formGroup.controls.price.errors"  margin-left>Valor inválido</p>
    </ion-card>

    <button ion-button color="secondary" block type="submit" [disabled]="formGroup.invalid">Atualizar</button> 
  </form>
  
</ion-content>
